<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">



	<context:annotation-config />
	<context:component-scan base-package="com.vde.*" />


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
		destroy-method="close">
	<property name="driverClassName" value="com.mysql.jdbc.Driver" />
	<property name="url" value="jdbc:mysql://127.0.0.1:3306/PersonDB" />
	<property name="username" value="root" />
	<property name="password" value="root" />
	</bean>


<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- <property name="driverClassName" value="org.postgresql.Driver"/> -->
<!-- <property name="url" value="jdbc:postgresql://localhost/personsdb"/> -->
<!-- <property name="username" value="postgres"/> -->
<!-- <property name="password" value="root"/> -->
<!-- </bean> -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
		<property name="hibernateProperties">
			<props>
<!-- 				<prop key="hbm2ddl.auto">create</prop> -->
<!-- 				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop> -->
<!-- 				<prop key="hibernate.show_sql">true</prop> -->
<!-- 				 <prop key="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop> -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- Database connection settings -->
<!-- 		<prop key="connection.url">jdbc:postgresql://localhost:5432/personsdb</prop> -->
<!-- 		<prop key="connection.driver_class">org.postgresql.Driver</prop> -->
<!-- 		<prop key="connection.username">postgres</prop> -->
<!-- 		<prop key="connection.password">root</prop> -->
<!-- 		<prop key="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop> -->
		
<!-- 		SQL dialect -->
<!-- 		<prop key="dialect">org.hibernate.dialect.PostgreSQLDialect</prop> -->

<!-- 		Echo all executed SQL to stdout -->
<!-- 		<prop key="show_sql">true</prop> -->

<!-- 		Enable Hibernate's automatic session context management -->
<!-- 		<prop key="current_session_context_class">thread</prop> -->

<!-- 		Drop and re-create the database schema on startup -->
<!-- 		<prop key="hbm2ddl.auto">create</prop> -->
			</props>
		</property>
	</bean>


	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<tx:annotation-driven />


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>